* {
  font-family: "Montserrat";
  font-weight: normal;
}

h1 {
  font-size: 29px;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
}

input {
  margin: 2px 0 2px 0;
  border-radius: 4px;
  height: 35.16px;
  border: 2px solid #ffb700;
}

hr {
  border-top: 1px dashed #ffe200;
  width: 635px;
  margin-top: 91px;
}

.introduction {
  display: flex;
  height: 560px;
  background-image: url("/img/ferbg\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.discurso h1 {
  font-weight: bold;
  color: #ffe200;
  padding: 130px 0 0 268px;
}

.discurso article {
  color: #fff;
  font-size: 18px;
  width: 875px;
  height: 50px;
  padding-left: 268px;
}
.discurso article span {
  font-weight: bolder;
}

.discurso p {
  margin-top: 170px;
}

.formulario {
  padding: 130px 0 0 50px;
}
.formulario span {
  color: #ffe200;
  font-size: 18px;
}

.formulario p {
  width: 330px;
  text-align: center;
  color: #fff;
}

.formulario p span {
  color: #fff;
  font-weight: bolder;
}

.botao {
  height: 35.16px;
  border-radius: 42px;
  margin-top: 2px;
  background: #ffb700;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-size: 16px;
  padding-top: 2px;
  border: none;
  margin-bottom: 30px;
}

::placeholder {
  padding-left: 5px;
  color: #c4c4c4;
}

.section-2 {
  background: #ffb700;
  height: 350%;
  width: 100%;
}

.section-2 h1 {
  color: #063254;
  padding-top: 50px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

.section-2 article p {
  width: 700px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  margin: 0 auto;
}

.section-2 article span {
  font-weight: bolder;
}

.section-2 .paragrafo {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}

.section-2 button {
  background-color: #9b51e0;
  width: 600px;
  height: 36px;
  margin: 35px auto;
  display: block;
}

.lista {
  margin-top: 50px;
  padding-left: 268px;
}

.lista-1 h1 {
  color: #063254;
  font-weight: bolder;
}

.lista-1 ul {
  list-style-image: url("/img/Ellipse\ 51.png");
}

.lista-1 ul li {
  padding-top: 27px;
  justify-content: center;
}

.informacoes h1 {
  color: #ffb700;
  text-align: center;
  font-weight: bolder;
  margin: 26px 0 40px 0;
}

.informacoes-pessoais {
  display: flex;
}

.informacoes-pessoais figure img {
  width: 410px;
  height: 360px;
  margin-left: 268px;
}
.informacoes-pessoais article {
  width: 536px;
  height: 360px;
  margin-left: 28px;
}

.informacoes-pessoais article span.amarelo {
  color: #ffb700;
  font-weight: bolder;
}

.informacoes-pessoais article span {
  color: #e88610;
}

.text {
  display: flex;
  padding-left: 268px;
}

.text-2 p {
  text-align: center;
  justify-content: center;
  width: 469px;
  align-items: center;
  margin-right: 195px;
  padding-top: 190px;
}

.text .formulario {
  padding-top: 75px;
}

.text .formulario p {
  color: #063254;
}

.text .formulario p span {
  color: #063254;
}

.quote {
  display: none;
}

@media only screen and (max-width: 500px) {
  .introduction {
    background: url("/img/ferbg\ 2.png");
    background-repeat: no-repeat;
    display: block;
  }

  .discurso h1 {
    width: 300px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    padding: 50px 0 0 120px;
  }

  .discurso article {
    width: 330px;
    height: 200px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 120px;
    margin-top: 30px;
  }

  .discurso p {
    margin-top: 30px;
  }

  .introduction div.formulario {
    background: #141414;
    height: 500px;
  }

  .section-2 {
    margin-top: 305px;
    height: 570px;
    display: block;
  }

  .section-2 article p {
    width: 276px;

    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
  }

  .section-2 .paragrafo {
    margin: 30px;
  }

  .section-2 .botao {
    width: 353px;
    height: 53px;
    margin-top: 20px;
  }

  .lista {
    display: block;
    height: 320px;
    padding-left: 18px;
  }

  .lista h1 {
    font-size: 24px;
    text-align: left;
  }

  .lista ul li {
    font-size: 14px;
    width: 265px;
    height: 68px;
    margin-top: 5px;
  }

  .informacoes h1 {
    display: block;
    text-align: center;
    font-size: 24px;
  }

  .informacoes-pessoais {
    display: block;
    height: 650px;
  }

  .informacoes-pessoais figure img {
    width: 296px;
    height: 262px;
    margin: 0 auto;
    padding: 0 0;
  }

  .informacoes-pessoais article,
  .informacoes-pessoais article span {
    font-size: 14px;
    margin-top: 21px;
    width: 331px;
    margin: 0px;
  }

  .text {
    display: block;
    align-items: center;
    margin: 0 auto;
    padding: 0 0;
  }

  .text-2 p {
    font-size: 14px;
    margin: 0 auto;
    padding: 0 0;
  }

  .text div.formulario {
    display: block;
    margin: 20px auto;
    padding: 0 0;
  }

  .formulario span {
    text-align: center;
    font-size: 14px;
  }

  .formulario .formulario-2 {
    background: #fff;
  }

  .formulario-2 span {
  }
}
